/* GLOBAL STYLES
-------------------------------------------------- */
/* Main styles */

@font-face {
  font-family: "CaligulaDodgy";
  src: url("../fonts/caliguladodgy.ttf");
}

html,
body {
  height: 100%;
  background: url("../images/background.jpg") no-repeat center fixed;
  background-size: cover;
  font-size: 12pt;
  padding-top:10px;
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: "CaligulaDodgy";
  font-variant: small-caps;
  text-shadow: 0px 0px 20px #32728a;
}

div#content, div.panel {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 30px #32728a;
  border: 0;
}

table.credits {
  border: 1px solid black;
  margin: 10px auto;
  font-size: inherit;
}

table.credits th {
  width: 50%;
}

/* Override bootstrap styles */
.btn {
  white-space: normal;
}

.navbar, .alert {
  font-size: inherit;
  font-weight: inherit;
}

ul.navbar-nav i.fa {
  margin-right: 8px;
}

.hvr-buzz {
  display: inherit;
}

.navbar-default {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0px 0px 30px #32728a;
  text-shadow: 0px 0px 20px #32728a;
}

.alert-djl {
  background: linear-gradient(#32728a,#487788);
  box-shadow: 0px 0px 20px #32728a;
  color: #ddd;
}

/* Magic cards */
div.magiccard {
  border: 20px #000 solid;
  border-radius: 20px;
  margin: 10px auto;
  padding: 10px 0;
  max-width: 380px;
  box-shadow: 0px 0px 30px #32728a;
}

div.defenders {
  background: url("../images/03b.jpg");
}

div.magiccard div.cardtitle {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px / 20px;
  margin: 0px auto;
  padding: 10px 5px;
  width: 95%;
  font-size: 12pt;
  font-weight: bold;
  text-shadow: 1px 1px 5px #777;
  text-align: left;
  border: 5px #008cba solid;
  box-shadow: -1px 1px 0px 1px #000;
}

div.magiccard img {
  border: 5px #008cba solid;
  margin: 0px auto;
  width: 90%;
  box-shadow: -1px 1px 0px 1px #000;
}

div.magiccard div.panel {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.9);
  width: 90%;
  text-align: left;
  margin: 0px auto;
  border: 5px #008cba solid;
  box-shadow: -1px 1px 0px 1px #000;
}

div.magiccard table th {
  width: 40%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0px 0 80px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  text-align: center;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
}

